<ion-view view-title="Introduction" class="intro">
  <ion-content class="padding ">

    <div class="title-bar">
      <h2>SuScheduler</h2>
      <p>
        To get those most use out of this app please login
      </p>
    </div>

    <div class="list list-inset">
      <label class="item item-input">
        <input type="text" placeholder="Username">
      </label>
      <label class="item item-input">
        <input type="password" placeholder="Password">
      </label>
    </div>

    <button class="button button-block button-positive">
      Login
    </button>

    <div class="row">
      <button class="col button button-outline button-light">
        Sign Up
      </button>
      <button class="col button button-outline button-light">
        Login
      </button>
    </div>

    <p class="skip">skip</p>

    <div class="alternate-login">
      <button class="button button-block button-assertive">
        Sign in with Google
      </button>
      <button class="button button-block button-positive">
        Sign in with Facebook
      </button>
    </div>

  </ion-content>
</ion-view>
